<a href="https://colab.research.google.com/github/hargbholarhan/Creatify/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [1]:
 from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
 !ls '/content/drive/My Drive/Kaggle'

check.txt  kaggle.json	sample_submission.csv  testf	 train	    yolo-coco
data.xlsx  obj.names	test		       test.txt  train.txt  yolov5

In [25]:
data = pd.read_excel('/content/drive/My Drive/Kaggle/data.xlsx')

In [ ]:
 data['Address'].values[0]

' Shop 001 Montana Corner Shopping Centre Corner Dr Swanepoel Road and, Sefako Makgatho Dr, Montana AH, Pretoria, 0181, South Africa'

In [ ]:
data

                                                   Name  ... Google link
0                                    The Vapery Montana  ...         NaN
1                       Vape King Mega Store - Fourways  ...         NaN
2                                          Vape Shop SA  ...         NaN
3                                    Vape Africa / Vap3  ...         NaN
4                                 VapeShop Melrose Arch  ...         NaN
...                                                 ...  ...         ...
1181                                                NaN  ...         NaN
1182                                                NaN  ...         NaN
1183                                                NaN  ...         NaN
1184                                                NaN  ...         NaN
1185  ATOMIZE | VAPE SHOP PTA EAST | E-CIGS & E-LIQUIDS  ...         NaN

[1186 rows x 16 columns]

In [26]:
datar = data['Address']
datar=pd.DataFrame(datar)
datar = datar.dropna()
datar

                                               Address
0     Shop 001 Montana Corner Shopping Centre Corne...
1     4, Merrow Down Plaza, Fourways, 71 Troupant A...
2               Sandhurst, Sandton, 2196, South Africa
3     N1 City Value Mall, 53 Solly Smiedt Street, N...
4    Melrose Arch, (outside Woolworths), Johannesbu...
..                                                 ...
236                  V alley View Centre, Krugersdrops
237                            Blubird Centre, Melrose
238                             Bracken Villa Alberton
239                                Homestead,kimberley
240                         Post Office Centre, Illovo

[240 rows x 1 columns]

In [49]:
datar['Address'] = datar.Address.str.replace(r'(^.*Pretoria.*$)', 'Gauteng')
datar['Address'] = datar.Address.str.replace(r'(^.*Johannesburg.*$)', 'Gauteng')
datar['Address'] = datar.Address.str.replace(r'(^.*Gauteng.*$)','Gauteng')
datar['Address'] = datar.Address.str.replace(r'(^.*Soweto.*$)','Gauteng')
datar['Address'] = datar.Address.str.replace(r'(^.*Randfontein.*$)', 'Gauteng')
datar['Address'] = datar.Address.str.replace(r'(^.*Cape Town.*$)', 'Western Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Bellville.*$)', 'Western Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Stellenbosch.*$)', 'Western Cape')
datar

                                               Address
0                                              Gauteng
1     4, Merrow Down Plaza, Fourways, 71 Troupant A...
2               Sandhurst, Sandton, 2196, South Africa
3                                         Western Cape
4                                              Gauteng
..                                                 ...
236                  V alley View Centre, Krugersdrops
237                            Blubird Centre, Melrose
238                             Bracken Villa Alberton
239                                Homestead,kimberley
240                         Post Office Centre, Illovo

[240 rows x 1 columns]

In [46]:
import re
gauteng = ['Pretoria','Johannesburg','Soweto','Troupant']
for i in gauteng:
   matched = re.match('^.*i.*$', datar.Address.values)
   if is_matched:
      datar.Address.str.replace(r'(^.*i.*$)', 'Gauteng')

TypeError: ignored

In [ ]:
S=Addr[1]
S

' 4, Merrow Down Plaza, Fourways, 71 Troupant Ave, Magaliessig, 2191, South Africa'