<a href="https://colab.research.google.com/github/hargbholarhan/Creatify/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
 from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
 !ls '/content/drive/My Drive/Kaggle'

check.txt  kaggle.json		  test	    train      yolov5
datar.csv  obj.names		  testf     train.txt
data.xlsx  sample_submission.csv  test.txt  yolo-coco

In [ ]:
data = pd.read_excel('/content/drive/My Drive/Kaggle/data.xlsx')

In [ ]:
 datar = pd.read_csv('/content/drive/My Drive/Kaggle/datar.csv')

In [ ]:
 data['Address'].values[0]

' Shop 001 Montana Corner Shopping Centre Corner Dr Swanepoel Road and, Sefako Makgatho Dr, Montana AH, Pretoria, 0181, South Africa'

In [ ]:
datar = data['Address']
datar=pd.DataFrame(datar)
datar = datar.dropna()
datar

                                               Address
0     Shop 001 Montana Corner Shopping Centre Corne...
1     4, Merrow Down Plaza, Fourways, 71 Troupant A...
2               Sandhurst, Sandton, 2196, South Africa
3     N1 City Value Mall, 53 Solly Smiedt Street, N...
4    Melrose Arch, (outside Woolworths), Johannesbu...
..                                                 ...
236                  V alley View Centre, Krugersdrops
237                            Blubird Centre, Melrose
238                             Bracken Villa Alberton
239                                Homestead,kimberley
240                         Post Office Centre, Illovo

[241 rows x 1 columns]

In [ ]:
datar['Address'] = datar.Address.str.replace(r'(^.*Pretoria.*$)', 'Gauteng')
datar['Address'] = datar.Address.str.replace(r'(^.*Johannesburg.*$)', 'Gauteng')
datar['Address'] = datar.Address.str.replace(r'(^.*Gauteng.*$)','Gauteng')
datar['Address'] = datar.Address.str.replace(r'(^.*Soweto.*$)','Gauteng')
datar['Address'] = datar.Address.str.replace(r'(^.*Randfontein.*$)', 'Gauteng')
datar['Address'] = datar.Address.str.replace(r'(^.*Cape Town.*$)', 'Western Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Bellville.*$)', 'Western Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Stellenbosch.*$)', 'Western Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Alice.*$)', 'Eastern Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Montana.*$)', 'Eastern Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Queenstown.*$)', 'Eastern Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Butterwort.*$)', 'Eastern Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*East London.*$)', 'Eastern Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Graaff-Reinet.*$)', 'Eastern Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Grahamstown.*$)', 'Eastern Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Bethelsdorp.*$)', 'Eastern Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*King William’s Town.*$)', 'Eastern Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Mthatha.*$)', 'Eastern Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Port Elizabeth.*$)', 'Eastern Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Uitenhage.*$)', 'Eastern Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Zwelitsha.*$)', 'Eastern Cape')
datar['Address'] = datar.Address.str.replace(r'(^.*Bethlehem.*$)', 'Free State')
datar['Address'] = datar.Address.str.replace(r'(^.*Bloemfontein.*$)', 'Free State')
datar['Address'] = datar.Address.str.replace(r'(^.*Jagersfontein.*$)', 'Free State')
 
 
datar['Address'] = datar.Address.str.replace(r'(^.*Parys.*$)', 'Free State')
 
 
datar['Address'] = datar.Address.str.replace(r'(^.*Virginia.*$)', 'Free State')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Welkom.*$)', 'Free State')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Kroonstad.*$)', 'Free State')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Odendaalsrus.*$)', 'Free State')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Phuthaditjhaba.*$)', 'Free State')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Sasolburg.*$)', 'Free State')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Giyani.*$)', 'Limpopo')
datar['Address'] = datar.Address.str.replace(r'(^.*Lebowakgomo.*$)', 'Limpopo')
datar['Address'] = datar.Address.str.replace(r'(^.*Musina.*$)', 'Limpopo')
datar['Address'] = datar.Address.str.replace(r'(^.*Phalaborwa.*$)', 'Limpopo')
datar['Address'] = datar.Address.str.replace(r'(^.*Polokwane.*$)', 'Limpopo')
datar['Address'] = datar.Address.str.replace(r'(^.*Thabazimbi.*$)', 'Limpopo')
datar['Address'] = datar.Address.str.replace(r'(^.*Sibasa.*$)', 'Limpopo')
datar['Address'] = datar.Address.str.replace(r'(^.Seshego.*$)', 'Limpopo')
 
 
datar['Address'] = datar.Address.str.replace(r'(^.*Klerksdorp.*$)', 'North West')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Mahikeng.*$)', 'North West')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Mmabatho.*$)', 'North West')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Potchefstroom.*$)', 'North West')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Rustenburg.*$)', 'North West')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Port Nolloth.*$)', 'Northern Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Kimberley.*$)', 'Northern Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Kuruman.*$)', 'Northern Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Constantia.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*George.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Hopefield.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Oudtshoorn.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Paarl.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Simon\'s Town.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Swellendam.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Worcester.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Emalahleni.*$)', 'Mpumalanga')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Secunda.*$)', 'Mpumalanga')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Nelspruit.*$)', 'Mpumalanga')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Benoni.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Boksburg.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Brakspan.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Carletonville.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Germiston.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Krugersdrop.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Springs.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Randburg.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Vanderbijlpark.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Roodepoort.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Vereeniging.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Mpumalanga.*$)', 'Mpumalanga')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Limpopo.*$)', 'Limpopo')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Free State.*$)', 'Free State')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Eastern Cape.*$)', 'Eastern Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*North West.*$)', 'North West')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Western Cape.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Northern Cape.*$)', 'Northern Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*KwaZulu-Natal.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Durban.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Empangeni.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Ladysmith.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Newcastle.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Pietermaritzburg.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Pinetown.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Ulundi.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Umlazi.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Magaliessig.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Sandton.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Kempton Park.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Margate.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Midrand.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Lenasia.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Edenvale.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*PRETORIA.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Willowbridge Shopping Centre.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.Lakeside.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Alberton.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Richards Bay.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Knysna.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Tzaneen.*$)', 'Limpopo')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Moregloed.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Tshwane.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Fochville.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Hermanus.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Upington.*$)', 'Northern Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Meyerton.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Kloof.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Scottburgh.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Wellington.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Hartbeespoort.*$)', 'North West')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Kathu.*$)', 'Northern Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Dolphin Coast.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Middelburg.*$)', 'Mpubalanga')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Lethabong.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Umhlanga.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Goldfields Mall.*$)', 'Free State')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Fourways.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Brayanston.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Krugersdrops.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Melrose.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Illovo.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*kimberley.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Berea.*$)', 'KwaZulu-Natal')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Centurion.*$)', 'Gauteng')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Still Bay.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*GOLDFIELDS MALL.*$)', 'Free State')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Bluberg.*$)', 'Western Cape')
 
datar['Address'] = datar.Address.str.replace(r'(^.*Lakeside.*$)', 'Gauteng')

In [ ]:
datar.to_csv('datar.csv')

In [ ]:
data_new = data.iloc[0:241]

In [ ]:
data_new = data_new[['Name', 'Address']]
data_new

                                Name                                            Address
0                 The Vapery Montana   Shop 001 Montana Corner Shopping Centre Corne...
1    Vape King Mega Store - Fourways   4, Merrow Down Plaza, Fourways, 71 Troupant A...
2                       Vape Shop SA             Sandhurst, Sandton, 2196, South Africa
3                 Vape Africa / Vap3   N1 City Value Mall, 53 Solly Smiedt Street, N...
4              VapeShop Melrose Arch  Melrose Arch, (outside Woolworths), Johannesbu...
..                               ...                                                ...
236                         vaperite                  V alley View Centre, Krugersdrops
237                         vaperite                            Blubird Centre, Melrose
238                         vapeking                             Bracken Villa Alberton
239                         vapeking                                Homestead,kimberley
240                         vapeking                         Post Office Centre, Illovo

[241 rows x 2 columns]

In [ ]:
datar

          Address
0         Gauteng
1         Gauteng
2         Gauteng
3    Western Cape
4         Gauteng
..            ...
236       Gauteng
237       Gauteng
238       Gauteng
239       Gauteng
240       Gauteng

[241 rows x 1 columns]

In [ ]:
data_neaw = pd.concat([data_new,datar],axis=1)
data_neaw.columns = ['Name','Address', 'Province']
data_neaw

                                Name  ...      Province
0                 The Vapery Montana  ...       Gauteng
1    Vape King Mega Store - Fourways  ...       Gauteng
2                       Vape Shop SA  ...       Gauteng
3                 Vape Africa / Vap3  ...  Western Cape
4              VapeShop Melrose Arch  ...       Gauteng
..                               ...  ...           ...
236                         vaperite  ...       Gauteng
237                         vaperite  ...       Gauteng
238                         vapeking  ...       Gauteng
239                         vapeking  ...       Gauteng
240                         vapeking  ...       Gauteng

[241 rows x 3 columns]

In [ ]:
 data_neaw.to_csv('data_neaw.csv')

In [ ]:
%cd '/content/drive/My Drive/Kaggle'

/content/drive/My Drive/Kaggle

In [ ]:
east = ['Alice','Montana','Butterwort','East London','Graaff-Reinet','Grahamstown','King William’s Town','Mthatha','Port Elizabeth','Queenstown','Uitenhage','Zwelitsha']
for est in east:
   datar['Address'] = datar.Address.str.replace(r'(^.*est.*$)','Eastern Cape')
   print(est)
datar

Alice
Montana
Butterwort
East London
Graaff-Reinet
Grahamstown
King William’s Town
Mthatha
Port Elizabeth
Queenstown
Uitenhage
Zwelitsha

                                               Address
0     Shop 001 Montana Corner Shopping Centre Corne...
1     4, Merrow Down Plaza, Fourways, 71 Troupant A...
2               Sandhurst, Sandton, 2196, South Africa
3     N1 City Value Mall, 53 Solly Smiedt Street, N...
4    Melrose Arch, (outside Woolworths), Johannesbu...
..                                                 ...
236                  V alley View Centre, Krugersdrops
237                            Blubird Centre, Melrose
238                             Bracken Villa Alberton
239                                       Eastern Cape
240                         Post Office Centre, Illovo

[240 rows x 1 columns]

In [ ]:
S=Addr[1]
S

' 4, Merrow Down Plaza, Fourways, 71 Troupant Ave, Magaliessig, 2191, South Africa'